{% extends 'base_generic.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card card-outline-secondary mx-auto" style="width: 30rem;">
        <div class="card-header">
            <h3 class="mb-0">Change Password</h3>
        </div>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form|crispy }}
            <div class="card-body">
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Save</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}