{% extends 'base_generic.html' %}
{% load static %}


{% block content %}
    <style>
   body {
    background-image: url({% static 'images/photo-1514810771018-276192729582.jpeg' %}); /* Адрес картинки */
    background-size: 103%;
   }
   .i-am-centered {
    margin: auto;
    max-width: 1000px;
    padding-top: 20%;
   }
  </style>
    <body>
    <div class="i-am-centered">
        <h1>To make posts you need to register first</h1>
        <h1>If you registered you can post/unpost and edit your posts in "My posts"</h1>
        <h1>Comments can leve as registered user as unregistered users</h1>
    </div>
  </body>
{% endblock %}