{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<form method="post">
  {% csrf_token %}
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0">
            <div class="modal-body p-0">
                <div class="card border-0 p-sm-3 p-2 justify-content-center">
                    <div class="card-header pb-0 bg-white border-0 ">
                        <div class="row">
                            <div class="col-11">
                            </div>
                        </div>
                        <p class="font-weight-bold mb-2"> Here you can post or unpost "{{ object.title }}"?</p>
                        <p class="text-muted "> Make your choice:
                            <select name="posted" autofocus="" aria-label="Default select example" class="form form-select-sm" id="id_posted">
                                    <option value="True">Post</option>
                                    <option value="False">Unpost</option>
                            </select>
                        </p>
                    </div>
                    <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
                        <div class="row justify-content-end no-gutters">
                            <div class="col-auto">
                                <a class="btn btn-outline-warning" href="{% url 'blog:user_posts' %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Cancel
                                </a>
                            </div>
                            <div class="col-auto">
                                <input type="submit" class="btn btn-dark" value="Confirm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </form>
{% endblock %}