
{% load static %}
{% block content %}
{% for post in post_list %}
    <tr>
        <td>{{ post.pk }}</td>
        <td><a href="{% url 'blog:post_view' slug=post.slug %}" > {{ post.title }}</a></td>
        <td>{{ post.category }}</td>
        <td>{{ post.creat_date|date:"M d, Y" }}</td>
        <td>{{ post.date_updated|date:"M d, Y G:i" }}</td>
        <td>
            {% if post.posted == False %}
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                </svg>
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="20" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                </svg>
            {% endif %}
        </td>
        <td style="width: 300px">
            <a class="edit-post btn btn-sm btn-warning" href="{% url 'blog:edit_user_posts' post.pk %}">
                <span class="fa fa-trash"></span>
                Edit
            </a>
            <a class="delete-post btn btn-sm btn-danger" href="{% url 'blog:delete_user_posts' post.pk %}">
                <span class="fa fa-trash"></span>
                Delete
            </a>
            <a class="post-post btn btn-sm btn-success" href="{% url 'blog:post_user_posts' post.pk %}">
                <span class="fa fa-trash"></span>
                Post / Unpost
            </a>
        </td>
    </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No posts</td>
  </tr>
{% endfor %}
{% endblock %}
